* {
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: black;
  border: 2px solid black;
}

#container > * {
  position: absolute;
}